---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} - Learn`} description={SITE_DESCRIPTION} />
    <style></style>
  </head>

  <body>
    <Header />
    <main>
      <section>
        <div class="intro">
          <h1>Learn</h1>
          <p>
            Programming is for everyone. The tutorials here assume you have no
            previous programming experience, so you can dive in and start
            learning right away. Let's dive in and discover the exciting world
            of programming together.
          </p>
        </div>
        <div class="learn-header">
          <div>
            <h3>
              <a href="/learn/sql-with-public-data"
                >Learn SQL with Public Data
              </a>
            </h3>
            <div class="description">
              You've always wanted to learn SQL, but you don't know where to
              start. The following lessons will teach you the basics of SQL
              using public data.
            </div>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
