html {
    background-color: #1A1A1A;
    color: #fff;
    font-family: "Jost", sans-serif;
}

body {
    width: 100%;
    line-height: 1.5;
    padding: 0 10px;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 5rem;
    font-family: "Luckiest Guy", cursive;
    margin: 0;
    color: #fff;
}

a {
    color: #0044ff;
    text-decoration: none;
}

h1 a:hover {
    border-bottom: 8px dashed #ddd;
}

h2 {
    font-family: "Bungee Inline", cursive;
    font-size: 3rem;
}

nav a {
    font-family: "Luckiest Guy", cursive;
    font-size: 2rem;
    margin-right: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #0044ff;
}

nav a:hover {
    border-bottom: 4px dashed #ddd;
}


/* Darker Light Purple, darker outline */

p {
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: white;
}

footer a {
    font-family: "Bungee Inline", cursive;
}

ul {
    font-family: "Bungee Inline", cursive;
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
        line-height: 1.2em;
    }

    nav a {
        font-size: 1.5rem;
    }

    li {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    li span {
        margin-top: 0.25rem;
    }
}

li a {
    color: #0044ff;
}

li a:hover {
    color: #fff;
}

li span {
    color: #aaa;
}