---
import "../styles/global.css";
import Nav from "./nav.astro";
import Title from "./title.astro";
import Footer from "./footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>mager.co</title>
  </head>
  <body>
    <Title />
    <Nav />
    <Footer />
  </body>
</html>
