---
import "../styles/global.css";
import "@fontsource/luckiest-guy";
import "@fontsource/bungee-inline";

import Nav from "./nav.astro";
import Title from "./title.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
const music = allPosts.filter(
  (post: any) => post.frontmatter.category === "Music"
);

const pageTitle = "music";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>mager.co / music</title>
  </head>
  <body>
    <Title page={pageTitle} />
    <Nav />
    <h2>Coming soon</h2>
  </body>
</html>
