---
import "@fontsource/luckiest-guy";
---

<nav>
  <a href="/about/">about</a>
  <a href="/recipes/">recipes</a>
  <a href="/code/">code</a>
  <a href="/life/">life</a>
  <a href="/music/">music</a>
  <a href="/photos/">photos</a>
</nav>
