---
import "../styles/global.css";
import "@fontsource/luckiest-guy";
import "@fontsource/bungee-inline";

import Nav from "./nav.astro";
import PostLayout from "../layouts/post.astro";
---

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>mager.co</title>
  </head>
  <body>
    <Nav />
    <PostLayout>
      <slot />
    </PostLayout>
  </body>
</html>
