---
import "@fontsource/bungee-inline";
---

<style>
  div {
    width: 100%;
    font-family: "Bungee Inline", cursive;
    background: linear-gradient(
      135deg,
      black 20%,
      yellow 20%,
      yellow 30%,
      green 30%,
      green 40%,
      blue 40%,
      blue 50%,
      purple 50%,
      purple 60%,
      red 60%,
      red 70%,
      orange 70%,
      orange 80%,
      yellow 80%,
      yellow 90%,
      black 90%,
      black 100%
    );
    color: #ccc;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
  }
</style>
<div><span>Under Construction</span></div>
