---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import { SITE_TITLE } from "../config";
---

<header style="width: 100%;">
  <h2>
    <Logo href="/">{SITE_TITLE}</Logo>
  </h2>
  <nav>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
</header>
<style>
  h2 {
    margin: 24px 0 48px;
    text-align: center;
  }
  header {
    width: 100%;
    margin: 0em 0 2em;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  nav a {
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    background-color: #fff;
    padding: 10px 16px;
    border-radius: 5px;
    margin: 0 16px 0 0;
  }
  @media only screen and (max-width: 600px) {
    h2 {
      margin: 24px 0 48px;
    }
  }
</style>
