---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import { SITE_TITLE } from "../config";
---
<header>
  <h2>
    <Logo href="/">{SITE_TITLE}</Logo>
  </h2>
  <nav>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
</header>