---
import { Image } from 'astro:assets';
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
---

<div class="logo-container">
  <a href={href} class="logo" {...props}>
    <slot />
  </a>
</div>
