---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class="logo" {...props}>
  <slot />
</a>
<style>
  .logo {
    color: #000 !important;
    font-size: 2em;
    text-decoration: none;
  }

  .logo:hover {
    color: #666 !important;
  }
</style>
