---
import "@fontsource/luckiest-guy";
---

<style>
  nav {
    margin-bottom: 36px;
  }
</style>

<nav>
  <a href="/about/">about</a>
  <a href="/recipe/">recipes</a>
  <a href="/code/">code</a>
  <a href="/tech/">tech</a>
  <a href="/life/">life</a>
  <a href="/music/">music</a>
  <a href="/photos/">photos</a>
</nav>
