---
import "@fontsource/jost";
import "@fontsource/ballet";
import "@fontsource/luckiest-guy";
import Nav from "../components/nav.astro";
import Title from "../components/title.astro";
import ConstructionBanner from "../components/construction-banner.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
const { category, pubDate, description } = frontmatter;
const formattedDate = new Date(pubDate).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<style is:global>
  main {
    font-family: "Jost", sans-serif;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding-bottom: 64px;
  }

  img {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  .post-header h1 {
    font-family: "Ballet", cursive;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    font-size: 7rem;
  }

  @media (max-width: 768px) {
    .post-header h1 {
      font-size: 4.5rem;
    }
  }

  .post-meta {
    font-family: "Luckiest Guy", cursive;
    font-size: 1.2rem;
    color: #999;
    margin-bottom: 1rem;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <ConstructionBanner />
    <Title />
    <Nav />
    <div class="post-header">
      <h1>{frontmatter.title}</h1>
      <p class="post-meta">
        <span>{formattedDate}</span> | <span>{category}</span>
      </p>
    </div>

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
