---
import Nav from "../components/nav.astro";
import Title from "../components/title.astro";
import ConstructionBanner from "../components/construction-banner.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
const { category, pubDate, description } = frontmatter;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <ConstructionBanner />
    <Title />
    <Nav />
    <header>
      <h1>{frontmatter.title}</h1>
      <p class="post-meta">
        <span>{pubDate}</span> | <span>{category}</span>
      </p>
      <p class="post-description">{description}</p>
    </header>

    <main class="post">
      <slot />
    </main>

    <Footer />
  </body>
</html>
